<launch>
    <arg name="rvizconfig" default="$(find yolo6d_ros)/rviz/display_cam.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <!-- TODO transform it as per real robot2cam -->
	<!-- https://answers.ros.org/question/263715/fixed-frame-map-does-not-exist/ -->

    <!-- x y z qx qy qz qw frame_id child_frame_id period_in_ms -->
    <node pkg="tf" type="static_transform_publisher" name="robot2cam" args="0 0 0 0 0 0 1 World  base_link 10" />
	<!-- <node pkg="tf" type="static_transform_publisher" name="robot2cam" args="0 0 0 -1.570796 0 -1.570796  robot_base_link  camera_color_optical_frame 10" /> -->

</launch>